# Required packages for the Hushmix application

pycaw==20181226  # Python Core Audio Windows Library for controlling audio
comtypes==1.2.0  # COM support for Python, used for Windows API calls
pyserial==3.5    # Serial communication library for Python
psutil==5.9.5    # Cross-platform library for retrieving information on running processes and system utilization
pystray==0.19.4  # Library for creating system tray applications
Pillow==10.0.0   # Python Imaging Library (PIL) fork for image processing
pywin32>=305     # Python bindings for Windows APIs
customtkinter==5.1.0  # CustomTkinter for enhanced tkinter UI
